<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Shopping Cart</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">

      </style>
   </head>
   <body>
       
      <div class="page-title">My Cart</div>
       
      <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
         <h2>There is no items in Cart</h2>
         <a th:href="@{/ticketList}">Show Ticket List</a>
      </th:block>
       
      <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
         <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
          
               <div class="ticket-preview-container"
                        th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
                  <ul>
                     
                     <li>Name: <span th:utext="${cartLineInfo.ticketInfo.name}"></span></li>
                     <li>Price:
                        <span class="price"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.ticketInfo.price,3,2,'COMMA')}">
                        </span>
                     </li>
                     <li>Quantity:
                        <input
                            th:name="|cartLines[${varStatus.index}].quantity|"
                            th:value="${cartLineInfo.quantity}" />
                     </li>
                     <li>Subtotal:
                        <span class="subtotal"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
                        </span>
                     </li>
                     <li>
                        <a th:href="@{|/shoppingCartRemoveTicket?code=${cartLineInfo.ticketInfo.code}|}">
                        Delete
                        </a>
                     </li>
                  </ul>
               </div>
             
            <div style="clear: both"></div>
            <a class="navi-item"
               th:href="@{/shoppingCartCustomer}">Enter Customer Info</a>
            <a class="navi-item"
               th:href="@{/ticketList}">Continue Buy</a>
         </form>
      </th:block>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>